- content_for :script_include do
  = javascript_include_tag asset_url('librarianBookEdit.js'), type: 'text/javascript'

:ruby
  libraries = Library.all.map do |library|
    { id: library.id, name: library.branch_name }
  end

  props = {
    admin_book_path: admin_book_path(@book),
    genres: Book.genres.keys,
    subgenres: Book.subgenres.keys,
    libraries: libraries,
    book: {
      title: @book.title,
      author: @book.author,
      genre: @book.genre,
      subgenre: @book.subgenre,
      pages: @book.pages,
      publisher: @book.publisher,
      copies: @book.copies,
      library_id: @book.library_book_relation.library.id
    }
  }

#librarian-book-edit{ data: { props: props.to_json } }
