- content_for :script_include do
  = javascript_include_tag asset_url('librarianBookEdit.js'), type: 'text/javascript'

:ruby
  props = {
    admin_book_path: admin_book_path(@book),
    genres: Book.genres.keys,
    subgenres: Book.subgenres.keys,
    book: {
      title: @book.title,
      author: @book.author,
      genre: @book.genre,
      subgenre: @book.subgenre,
      pages: @book.pages,
      publisher: @book.publisher,
      copies: @book.copies
    }
  }

#librarian-book-edit{ data: { props: props.to_json } }
