- content_for :script_include do
  = javascript_include_tag asset_url('home.js'), type: 'text/javascript'

:ruby
  books = @books.map do |book|
    {
      id: book.id,
      title: book.title,
      author: book.author,
      genre: book.genre,
      subgenre: book.subgenre,
      pages: book.pages,
      publisher: book.publisher,
      library_name: book.library.branch_name,
      is_borrowed_by_others: book.above_lending_limit?,
      is_borrowed_by_me: book.borrowed?(current_user)
    }
  end

  props = {
    books: books,
    is_logged_in: !current_user.nil?,
    pages: @books.total_pages,
    page: @books.current_page,
    total_count: @books.total_count,
    checked_out_books_path: checked_out_books_path,
    returned_books_path: returned_books_path
  }

#home{ data: { props: props.to_json } }
